@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 201, 75%, 43%;
    --accent-foreground: 201, 76%, 34%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* helper */
  .flex-center {
    @apply flex items-center justify-center;
  }

  /* Links */

  .main-link {
    @apply font-semibold uppercase text-lg text-white p-2 rounded-md hover:bg-accent-foreground hover:bg-opacity-20 border-solid border border-gray-700 text-center;
  }

  .main-link-active {
    @apply font-semibold uppercase text-lg text-white p-2 rounded-md bg-accent;
  }

  .container {
    @apply max-w-[2000px] text-gray-200 mx-auto px-4 pt-10 pb-2 sm:px-6 lg:px-8;
  }

  /* Text */
  .main-title {
    @apply font-pbold text-3xl;
  }

  .main-title-wrapper {
    @apply flex items-center gap-4;
  }
}

@font-face {
  font-family: "Poppins-regular";
  src:
    local("Poppins-Regular"),
    url("../assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-medium";
  src:
    local("Poppins-Medium"),
    url("../assets/fonts/poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-bold";
  src:
    local("Poppins-Bold"),
    url("../assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-regular";
  src:
    local("Montserrat-Regular"),
    url("../assets/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-medium";
  src:
    local("Montserrat-Medium"),
    url("../assets/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-bold";
  src:
    local("Montserrat-Bold"),
    url("../assets/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
}
